<!DOCTYPE html>
<html lang="en">
  {{ partial "head" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header"}}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-10 d-flex flex-column align-items-center text-center"
          >
            <h1 data-aos="fade-up">Take cycling to the next level.</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              Professional Road and MTB Selection of Bikes, from beginners to
              pros. We bring the best rental selection in the beautiful island
              of Puerto Rico.
              <br />
              <br />
              Important: Due to high demand we are only booking a week in
              advance of service. No guarantees are provided under that
              timeline. We apologize for any inconvenience that this may cause.
            </h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a
                  href="#about"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>About Us</h3>
                <h2>
                  Rent A Bike Puerto Rico prides itself in offering outstanding
                  service.
                </h2>
                <p>
                  We are committed to your satisfaction and will go above and
                  beyond to ensure it. Should your tour or rental fall short of
                  your expectations, we encourage you to inform us so that we
                  can promptly assist you. Your feedback is invaluable to us,
                  and we will prioritize fulfilling your desired experience. Let
                  us know how we can make your journey exceptional; your
                  happiness is our highest priority.
                </p>
                <div class="text-center text-lg-start">
                  <a
                    href="#contact"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Contact us</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img
                src="/assets/img/portfolio/static1.squarespace-2.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Features</h2>
            <p>Why choose us?</p>
          </header>

          <div class="row">
            <div class="col-lg-6">
              <img
                src="/assets/img/portfolio/Cabo_Rojo_Faro-6.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Premium Bike Rentals</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Unforgettable Tours</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Customer-Centric Rentals</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Ride with Confidence</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Personalized Adventures</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Exceeding Expectations</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>F.A.Q</h2>
            <p>Frequently Asked Questions</p>
          </header>

          <div class="row">
            <div class="col-lg-6">
              <!-- F.A.Q List 1-->
              <div class="accordion accordion-flush" id="faqlist1">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-content-1"
                    >
                      What makes Rent A Bike Puerto Rico's service outstanding?
                    </button>
                  </h2>
                  <div
                    id="faq-content-1"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist1"
                  >
                    <div class="accordion-body">
                      At Rent A Bike Puerto Rico, we take pride in offering
                      exceptional service that ensures you have a memorable
                      experience. From top-notch bike rentals to personalized
                      tours, we're committed to exceeding your expectations.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-content-2"
                    >
                      How do you guarantee a smile at the end of my tour or
                      rental?
                    </button>
                  </h2>
                  <div
                    id="faq-content-2"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist1"
                  >
                    <div class="accordion-body">
                      Your satisfaction is our priority. If your tour or rental
                      experience doesn't leave you smiling, please let us know
                      how we can help. We'll work diligently to ensure you get
                      the experience you desire.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-content-3"
                    >
                      What sets your bike rental service apart from others in
                      Puerto Rico?
                    </button>
                  </h2>
                  <div
                    id="faq-content-3"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist1"
                  >
                    <div class="accordion-body">
                      Our bike rentals are more than just a means of
                      transportation – they're a gateway to unforgettable
                      adventures. We go the extra mile to provide premium bikes
                      and exceptional service, ensuring your journey is as
                      enjoyable as the destination.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <!-- F.A.Q List 2-->
              <div class="accordion accordion-flush" id="faqlist2">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-1"
                    >
                      Can I customize my tour or rental experience with Rent A
                      Bike Puerto Rico?
                    </button>
                  </h2>
                  <div
                    id="faq2-content-1"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist2"
                  >
                    <div class="accordion-body">
                      Absolutely! We're dedicated to creating personalized
                      adventures tailored to your preferences. Let us know how
                      you envision your ride, and we'll craft a memorable
                      experience just for you.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-2"
                    >
                      How do you ensure customer satisfaction during bike tours?
                    </button>
                  </h2>
                  <div
                    id="faq2-content-2"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist2"
                  >
                    <div class="accordion-body">
                      Your satisfaction is our success. Our team is committed to
                      providing you with a seamless and delightful bike tour
                      experience. If there's anything you need or any concerns
                      you have, we're here to make it right.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-3"
                    >
                      What should I expect from Rent A Bike Puerto Rico's
                      customer-centric approach?
                    </button>
                  </h2>
                  <div
                    id="faq2-content-3"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist2"
                  >
                    <div class="accordion-body">
                      Our customer-centric approach means that your happiness is
                      our ultimate goal. From premium bike rentals to
                      personalized services, we're here to exceed your
                      expectations and create a biking adventure you'll cherish.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End F.A.Q Section -->

      <!-- ======= Portfolio Section ======= -->
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Gallery</h2>
            <p>Check our latest gallery</p>
          </header>

          <div
            class="row gy-4 portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-1.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-2.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-3.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-4.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-6.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-6.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <!--5-->
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-7.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-7.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-8.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-8.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-9.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-9.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-10.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-10.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-11.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-11.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--10-->

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-12.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-12.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-13.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-13.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-14.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-14.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-15.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-15.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-16.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-16.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--15-->

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-17.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-17.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-18.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-18.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-19.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-19.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-20.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-20.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-21.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-21.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--20-->

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-22.jpeg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-22.jpeg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-23.jpeg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-23.jpeg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="/assets/img/portfolio/portfolio-24.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="/assets/img/portfolio/portfolio-24.jpg"
                      data-gallery="portfolioGallery"
                      class="portfokio-lightbox"
                      ><i class="bi bi-plus"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->
      <!-- End Portfolio Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>

          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>787 613 3438</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>cs@rentabikepr.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>
                      Wearhouse HC3 box 12085 ,<br />cedros carolina Puerto
                      Rico.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Sunday<br />24/7</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{partial "footer"}}
    <!-- End Footer -->

    {{partial "script"}}
  </body>
</html>
