<footer id="footer" class="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Stay In the Loop for Unforgettable Adventures!</h4>
          <p>
            Join our newsletter and be the first to know about our premium bike
            rentals and personalized tours in beautiful Puerto Rico.
          </p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <div class="social m-0 p-0 mb-3">
        <a
          href="https://www.instagram.com/santoscarrasquillo4/"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
        <a href="https://web.facebook.com/profile.php?id=100063488474502" target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
      </div>
      &copy; Copyright <strong><span>Rent A Bike, Inc</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
